国土数値情報/高速道路時系列/N06-22_GML/KsjAppSchema-N06-v2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <xsd:schema
   xmlns:ksj="http://nlftp.mlit.go.jp/ksj/schemas/ksj-app"
   xmlns:gml="http://www.opengis.net/gml/3.2.1"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="https://nlftp.mlit.go.jp/ksj/jpgis/xsd/KsjAppSchema.xsd"
   elementFormDefault="qualified">
 <!-- 外部参照 -->
 <xsd:import
  namespace="http://www.opengis.net/gml/3.2.1"
  schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19136_Schemas/gml.xsd"/>
 <!-- 基底要素 -->
 <xsd:element name="Dataset">
  <xsd:complexType>
   <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
     <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element ref="gml:AbstractGML"/>
      <xsd:element ref="gml:CompositeValue"/>
     </xsd:choice>
    </xsd:extension>
   </xsd:complexContent>
  </xsd:complexType>
 </xsd:element>
 <!-- 要素定義 -->
 <xsd:element name="Highway" type="ksj:HighwayType" abstract="true" substitutionGroup="gml:AbstractFeature"/>
 <xsd:complexType name="HighwayType" abstract="true">
  <xsd:annotation>
   <xsd:documentation>高速道路</xsd:documentation>
  </xsd:annotation>
  <xsd:complexContent>
   <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence minOccurs="1" maxOccurs="1">
     <xsd:element name="usb" type="gml:TimeInstantPropertyType">
      <xsd:annotation>
       <xsd:documentation>供用開始年</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="exp" type="gml:TimePeriodPropertyType">
      <xsd:annotation>
       <xsd:documentation>設置期間</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="rfid" type="xsd:string">
      <xsd:annotation>
       <xsd:documentation>関係ID</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="trid" type="ksj:CodeOfTransitionClassType" minOccurs="0">
      <xsd:annotation>
       <xsd:documentation>変遷ID</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="trrm" type="xsd:string" minOccurs="0">
      <xsd:annotation>
       <xsd:documentation>変遷備考</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="HighwayPropertyType">
  <xsd:sequence minOccurs="0">
   <xsd:element ref="ksj:Highway"/>
  </xsd:sequence>
  <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
  <xsd:attributeGroup ref="gml:OwnershipAttributeGroup"/>
 </xsd:complexType>
 <xsd:complexType name="HighwayMemberType">
  <xsd:complexContent>
   <xsd:extension base="gml:AbstractMemberType">
    <xsd:sequence minOccurs="0">
     <xsd:element ref="ksj:Highway"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:element name="HighwaySection" type="ksj:HighwaySectionType" substitutionGroup="ksj:Highway"/>
 <xsd:complexType name="HighwaySectionType">
  <xsd:annotation>
   <xsd:documentation>路線</xsd:documentation>
  </xsd:annotation>
  <xsd:complexContent>
   <xsd:extension base="ksj:HighwayType">
    <xsd:sequence minOccurs="1" maxOccurs="1">
     <xsd:element name="loc" type="gml:CurvePropertyType">
      <xsd:annotation>
       <xsd:documentation>路線</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="hwn" type="xsd:string">
      <xsd:annotation>
       <xsd:documentation>路線名</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="chw" type="ksj:CodeOfHighwayClassType">
      <xsd:annotation>
       <xsd:documentation>路線種別</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="stu" type="ksj:CodeOfStatusClassType">
      <xsd:annotation>
       <xsd:documentation>供用状況</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="nol" type="xsd:integer">
      <xsd:annotation>
       <xsd:documentation>車線数</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="rfrm" type="xsd:string" minOccurs="0">
      <xsd:annotation>
       <xsd:documentation>関係備考</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="HighwaySectionPropertyType">
  <xsd:sequence minOccurs="0">
   <xsd:element ref="ksj:HighwaySection"/>
  </xsd:sequence>
  <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
  <xsd:attributeGroup ref="gml:OwnershipAttributeGroup"/>
 </xsd:complexType>
 <xsd:complexType name="HighwaySectionMemberType">
  <xsd:complexContent>
   <xsd:extension base="gml:AbstractMemberType">
    <xsd:sequence minOccurs="0">
     <xsd:element ref="ksj:HighwaySection"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:element name="Joint" type="ksj:JointType" substitutionGroup="ksj:Highway"/>
 <xsd:complexType name="JointType">
  <xsd:annotation>
   <xsd:documentation>接合部</xsd:documentation>
  </xsd:annotation>
  <xsd:complexContent>
   <xsd:extension base="ksj:HighwayType">
    <xsd:sequence minOccurs="1" maxOccurs="1">
     <xsd:element name="lcj" type="gml:PointPropertyType">
      <xsd:annotation>
       <xsd:documentation>地点</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="jtn" type="xsd:string">
      <xsd:annotation>
       <xsd:documentation>地点名</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element name="koj" type="ksj:CodeOfJointClassType">
      <xsd:annotation>
       <xsd:documentation>接合部種類</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="JointPropertyType">
  <xsd:sequence minOccurs="0">
   <xsd:element ref="ksj:Joint"/>
  </xsd:sequence>
  <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
  <xsd:attributeGroup ref="gml:OwnershipAttributeGroup"/>
 </xsd:complexType>
 <xsd:complexType name="JointMemberType">
  <xsd:complexContent>
   <xsd:extension base="gml:AbstractMemberType">
    <xsd:sequence minOccurs="0">
     <xsd:element ref="ksj:Joint"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:simpleType name="CodeOfHighwayClassType">
  <xsd:annotation>
   <xsd:documentation>路線種別コード</xsd:documentation>
  </xsd:annotation>
  <xsd:union memberTypes="ksj:CodeOfHighwayClassEnumType ksj:CodeOfHighwayClassOtherType"/>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfHighwayClassEnumType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="1">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>高速自動車国道</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="2">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>高速自動車国道に並行する自動車専用道路</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="3">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>一般国道の自動車専用道路</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="4">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>本州四国連絡高速道路</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="5">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>指定都市高速道路</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="6">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>その他の道路</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfHighwayClassOtherType">
  <xsd:restriction base="xsd:string">
   <xsd:pattern value="other: \w{2,}"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfJointClassType">
  <xsd:annotation>
   <xsd:documentation>接合部区分コード</xsd:documentation>
  </xsd:annotation>
  <xsd:union memberTypes="ksj:CodeOfJointClassEnumType ksj:CodeOfJointClassOtherType"/>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfJointClassEnumType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="1">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>一般インターチェンジ</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="2">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>スマートインターチェンジ</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="3">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>ジャンクション</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="4">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>その他接合部</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfJointClassOtherType">
  <xsd:restriction base="xsd:string">
   <xsd:pattern value="other: \w{2,}"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfStatusClassType">
  <xsd:annotation>
   <xsd:documentation>供用状況コード</xsd:documentation>
  </xsd:annotation>
  <xsd:union memberTypes="ksj:CodeOfStatusClassEnumType ksj:CodeOfStatusClassOtherType"/>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfStatusClassEnumType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="1">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>完成供用</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="2">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>暫定供用</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="3">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>高速自動車国道に切り替えて供用</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="4">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>一般国道に切り替えて供用</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="5">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>その他の供用</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfStatusClassOtherType">
  <xsd:restriction base="xsd:string">
   <xsd:pattern value="other: \w{2,}"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfTransitionClassType">
  <xsd:annotation>
   <xsd:documentation>変遷IDコード</xsd:documentation>
  </xsd:annotation>
  <xsd:union memberTypes="ksj:CodeOfTransitionClassEnumType ksj:CodeOfTransitionClassOtherType"/>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfTransitionClassEnumType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="1">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>路線名（または接合部名）</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="2">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>路線種別</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="3">
    <xsd:annotation>
     <xsd:appinfo>
      <gml:description>車線数</gml:description>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CodeOfTransitionClassOtherType">
  <xsd:restriction base="xsd:string">
   <xsd:pattern value="other: \w{2,}"/>
  </xsd:restriction>
 </xsd:simpleType>
</xsd:schema>
